.Rproj.user
.Rhistory
.RData
.Ruserdata

# Salmon output files
2025_MDAcells_riboseq/salmon/
2025_MDAcells_riboseq/salmon\ copy/
2025_MDAcells_riboseq/salmon\ copy.zip
**/salmon/
**/salmon\ copy/
*.sf.gz

# Output files
output/

# Plot files
plots/
